.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
}
.container{
    display: flex;
    flex-direction: row;
}
.main {
    background-color: #ffd700;
}

.aside {
    background-color: #808080;
}
.footer {
    float: left;
    position: relative;
    background-color: #00ffff;
}
