.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
}

.container{
    display: flex;
    flex-direction: row;
}
.main {

    float: left;
    background-color: #ffd700;
    left: 0%;
}

.aside {
    float: right;
    background-color: #808080;
}
.footer {
    float: left;
    position: relative;
    background-color: #00ffff;
}